# ensures everything will be ignored
*

# whitelist folders with !, these will not be ignored
!*.yaml
!*.js
!README.md
!.gitignore
!automation
!lovelace
!www
!www/custom-lovelace
!www/custom-lovelace/compact-custom-header
!www/custom-ui/floorplan/lib
!www/custom-ui/floorplan/*.*
!www/custom-ui/*.*
!www/floorplan/lib
!www/floorplan
!www/*.jpg
!www/moonphases/*.jpg
!www/ps4cam/*.jpg
!bedroom_lircd.conf
!den_lircd.conf
!living_room_lircd.conf

#ignore these files
secrets.yaml
known_devices.yaml
entity_registry.yaml
