# ensures everything will be ignored
*

# whitelist folders with !, these will not be ignored
!*.yaml
!*.js
!*.jpg
!*.css
!*.svg
!*.html
!README.md
!.gitignore
!automation
!lovelace
!www
!www/custom-lovelace
!www/custom-lovelace/compact-custom-header
!www/custom_ui/floorplan/lib
!www/custom_ui/floorplan
!www/custom_ui
!www/floorplan/lib
!www/floorplan
!www/moonphases
!www/ps4cam
!bedroom_lircd.conf
!den_lircd.conf
!living_room_lircd.conf

#ignore these files
secrets.yaml
known_devices.yaml
entity_registry.yaml
